@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --bg-cyan-green: #38af90;
  --bg-light-grey: #f0f0f0;
  --bg-dark-grey: #383838;
  --color-gray: #c4c4c4;
  --color-dark-grey: #797979;
  --color-white: #ffffff;
  --color-reddish-rose: #dd7e92;
  --optBtn--color-gray: #999999;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
  border: unset;
}

.nav-container {
  background-color: var(--bg-cyan-green);
  height: 90px;
  width: 100%;
  position: fixed;
  display: flex;
  padding: 14px 10px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75));
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand {
  font-weight: 700;
  font-size: 18px;
  padding: 32px 10px;
  color: var(--color-white);
}

.menu-items {
  display: flex;
}

.menu-items ul {
  list-style-type: none;
  display: none;
  visibility: hidden;
}

.menu-items li {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-white);
  padding: 0 10px;
}

.profile-image {
  width: 62px;
}

#news {
  padding: 130px 0 40px;
}

.news-section-title {
  font-weight: 700;
  /* font-size: 24px; */
  font-size: 1.5rem;
  color: var(--color-dark-grey);
  text-align: center;
}

.news-card {
  background-color: var(--bg-light-grey);
  margin: 8px 10px 28px;
  padding: 16px 12px 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news-card-description h2 {
  font-weight: 700;
  /* font-size: 16px; */
  font-size: 1rem;
  color: var(--bg-cyan-green);
  margin-bottom: 3px;
}

.news-card-description h3 {
  font-weight: 700;
  font-size: 12px;
  color: var(--color-dark-grey);
  border-bottom: 1px solid var(--bg-cyan-green);
  margin-bottom: 3px;
}

.news-card-description h4 {
  font-weight: 400;
  font-size: 10px;
  color: var(--bg-cyan-green);
  margin-bottom: 12px;
}

.news-card-description p {
  font-weight: 400;
  font-size: 10px;
  color: var(--color-dark-grey);
}

.news-card-description a {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-reddish-rose);
}

.load-button {
  text-align: center;
}

.load-button input {
  font-weight: 700;
  font-size: 18px;
  background-color: var(--color-reddish-rose);
  color: var(--color-white);
  border-radius: 8px;
  padding: 20px 50px;
  cursor: pointer;
}

#games {
  background-color: var(--bg-light-grey);
  padding: 40px 0 13px;
}

.game-card {
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
}

.title-section-game {
  font-weight: 700;
  /* font-size: 24px; */
  font-size: 1.5rem;
  color: var(--bg-cyan-green);
  text-align: center;
  margin-bottom: 18px;
}

.game-card-description {  
  width: calc(100% - 20px);
  max-width: 420px;
  margin: 10px;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.game-card-description img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.game-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-dark-grey);
  padding-top: 27px;
  text-align: center;
}

.game-card-description p {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-dark-grey);
  text-align: center;
}

.game-card-description span {
  font-weight: 700;
  font-size: 14px;
  color: var(--bg-cyan-green);
}

.game-note {
  font-weight: 700;
  font-size: 36px;
  color: var(--bg-cyan-green);
  text-align: center;
}

#signUp {
  padding: 40px 10px;
}

.title-section-signUp {
  font-weight: 700;
  /* font-size: 24px; */
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: var(--color-dark-grey);
  text-align: center;
}

.form-card {
  background-color: var(--bg-light-grey);
  border-radius: 8px;
  padding: 52px 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form label {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-dark-grey);
}

.name-textBox {
  display: flex;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid var(--color-dark-grey);
  background-color: var(--color-white);
}

#ctrl-name {
  border-radius: 4px;
  padding: 13px 0 13px 13px;
  width: 100%;
  font-size: 16px;
}

.name-textBox ::placeholder {
  font-weight: 400;
  font-size: 16px;
}

.email-textBox {
  display: flex;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid var(--color-dark-grey);
  background-color: var;
}

#ctrl-email {
  border-radius: 4px;
  padding: 13px 0 13px 13px;
  width: 100%;
  font-size: 16px;
}

.email-textBox ::placeholder {
  font-weight: 400;
  font-size: 16px;
}

.question-title {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-dark-grey);
  text-align: center;
}

.optionButton {
  display: flex;
  align-items: center;
}

.optionButton input {
  width: 23px;
  height: 23px;
  margin: 8px;
}

.newsletter-checkbox {
  display: flex;
  align-items: center;
}

.newsletter-checkbox input {
  width: 23px;
  height: 23px;
  margin: 36px 9px;
  cursor: pointer;
}

.submit-button {
  text-align: center;
}

.submit-button input {
  background-color: var(--color-reddish-rose);
  color: var(--color-white);
  font-weight: 700;
  font-size: 18px;
  width: 244px;
  height: 67px;
  padding: 20px 90px;
  border-radius: 8px;
  cursor: pointer;
}

.reset-button {
  text-align: center;
}

.reset-button input {
  background-color: var(--color-white);
  color: var(--color-reddish-rose);
  font-weight: 700;
  font-size: 18px;
  width: 244px;
  height: 67px;
  border: 2px solid var(--color-reddish-rose);
  border-radius: 8px;
  padding: 20px 90px;
  margin-top: 20px;
  cursor: pointer;
}

footer {
  background-color: var(--bg-dark-grey);
  height: 302px;
  padding: 28px 35px 30px;
  color: var(--color-white);
  font-weight: 400;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-content a {
  padding: 5px;
}

.links-social-network {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.trademark {
  margin-bottom: 37px;
}

.privacy-terms {
  display: flex;
  flex-direction: column;
}

@media(min-width:510px) {
  .menu-items ul {
    display: flex;
    align-items: center;
    text-align: center;
    visibility: visible;
  }
}


@media(min-width: 768px) {

  html {
    font-size: 24px;
  }

  .nav-brand {
    font-size: 24px;
  }

  #news {
    padding: 130px 0 56px;
  }

  .news-section-title {
    margin: 40px 0 40px;
  }

  .news-card {
    margin-bottom: 40px;
    padding: 16px 40px;
  }

  .news-card-description h3 {
    font-size: 16px;
  }

  .news-card-description h4 {
    margin-bottom: 16px;
  }

  #games {
    padding: 36px 0 60px;
  }

  .title-section-game {
    margin-bottom: 63px;
  }

  .game-card-description {
    width: 300px;
  }

  #signUp {
    padding: 40px 75px 60px;
  }

  .title-section-signUp {
    margin-bottom: 40px;
  }

  .form-card {
    padding: 52px 75px;
  }

  .form-buttons {
    display: flex;
    justify-content: center;
  }

  .form-buttons input {
    margin: 39px 25px 0;
  }

  footer {
    height: 190px;
    padding: 74px 100px;

  }

  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } 

  .footer-content a {
    padding: 0;
  }

  .links-social-network {
    margin: 0;
  }

  .trademark {
    margin: 0;
  }

  .privacy-terms a {
    width: 161px;
  
  }

}